@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
    /* --color-primary: #8860FB; */

    --color-primary: #5580e9;
    --color-secondary: #ffffff;
    --font-color: #000000;
    --text-color: #4e4e50;
    --footer-bg: #232223;
    --footer-text: #8d8c8c;
}
html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}
button:focus,
button:active button:hover .btn:active,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
}

.navbar .container .name {
    color: var(--color-primary);
    padding: 10px;
}

.navbar .container .collapse .navbar-nav .nav-link {
    padding: 10px;
    margin: 10px;
    color: var(--font-color);
}

.navbar .container .collapse .navbar-nav .active {
    text-decoration: none;
    border-radius: 20px;
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.navbar .container .collapse .navbar-nav .active {
    color: var(--color-secondary);
}

.navbar .container .collapse .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

.navbar .container .collapse .navbar-nav .active:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

.navbar .container .navbar-toggler button {
    color: var(--color-primary);
    width: 2px;
}

.name a {
    color: var(--color-primary);
}

.name a:hover {
    color: var(--color-primary);
}

.navbar-toggler {
    color: var(--color-primary);
}

.navbar {
    background-color: var(--color-secondary);
    /* background-color: transparent; */
}
.home:hover + .navbar {
    background-color: var(--color-secondary);
}
section {
    padding: 50px 0;
    margin-bottom: 100px;
}
#home {
    padding-top: 100px;
    margin-bottom: 0px;
}
.home:hover #nav-placeholder {
    visibility: hidden;
}
.home {
    height: 100vh;
}
.home::after {
    content: "";
    background: url("Photos/MyPhotos/DSC_0152.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.home .flex {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.home .flex .text {
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(65%);
}
.highlight {
    color: var(--color-primary);
}

.home .flex .text h4 {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 30pt;
}

.home .btn_cv {
    background-color: var(--color-primary);
    margin-top: 20px;
    border-radius: 30px;
    color: var(--color-secondary);
    width: 200px;
    height: 50px;
    text-align: center;
    width: 200px;
    height: 40px;
    padding: 8px;
    -webkit-appearance: none;
}
.btn_cv:hover {
    color: var(--color-secondary);
    text-decoration: none;
}
.services {
    /* margin-top: -250px; */
}
.services .headlines {
    text-align: center;
}

.services .headlines hr {
    color: var(--color-primary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}

.services .headlines h6 {
    color: var(--color-primary);
    font-weight: 300;
}

.services .headlines h2 {
    font-weight: 800;
}

.services .headlines p {
    text-align: center;
    color: var(--text-color);
}

.services .row {
    width: 70%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}
.services .row .col .card {
    /* background-color: #FAFAFD; */
    background-color: var(--color-primary);
    display: inline-block;
    border: none;
    border-radius: 15px;
    color: var(--color-secondary);
    margin-top: 30px;
    width: 300px;
    height: 350px;
    transition: 0.7s ease-out;
}
.services .row .col .card h5 {
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
}
.services .row .col .card p {
    font-weight: 200;
}
@media screen and (max-width: 1200px) {
    .services .row {
        width: 100%;
    }
}
.portfolio .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 230px;
    text-align: center;
}
.portfolio .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}
.portfolio .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}
.portfolio .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.portfolio .toppart .button-group button {
    background: transparent;
    border: none;
    color: var(--color-secondary);
}
.portfolio .toppart .button-group {
    background-color: var(--color-primary);
    margin: 15px;
}

.portfolio .toppart .button-group .active {
    border-radius: 20px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.portfolio .row {
    display: flex;
    width: 75%;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.portfolio .row .element-item {
    display: inline-block;
}

.portfolio .row .element-item .card {
    display: inline-flex;
    width: 8cm;
    height: 6cm;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    align-items: flex-end;
    transition: 0.4s ease-out;
    text-align: center;
    margin-top: 50px;
}

.portfolio .row .element-item .card:hover:before {
    opacity: 1;
}

.portfolio .row .element-item .card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.portfolio .row .element-item .card:hover {
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.7);
}

.portfolio .row .element-item .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(85, 128, 233, 0.7);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.portfolio .row .element-item .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.portfolio .row .element-item .card .info {
    z-index: 3;
    color: white;
    opacity: 0;
}

.portfolio .row .element-item .card .info h1 {
    margin: 0px;
    font-weight: 100;
    font-size: 92px;
}

.portfolio .row .element-item .card .info h2 {
    letter-spacing: 1px;
    font-size: 20px;
    padding-right: 120px;
}

.portfolio .row .element-item .card .info a {
    padding: 0.6rem;
    outline: none;
    border: none;
    background: none;
    background-color: none;
    color: var(--color-secondary);
    cursor: pointer;
    transition: 0.4s ease;
    text-align: left;
    font-size: 15px;
    position: relative;
    padding-right: 168px;
}

.portfolio .row .element-item .card .info a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .portfolio .row {
        width: 100%;
    }
}
.certification .headlines {
    text-align: center;
}
.certification .headlines hr {
    color: var(--color-primary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.certification .headlines h6 {
    color: var(--color-primary);
    font-weight: 300;
}

.certification .headlines h2 {
    font-weight: 800;
}

.certification .row {
    width: 75%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}
.certification .row .col .card {
    display: inline-block;
    margin-top: 50px;
    width: 300px;
    height: auto;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.certification .row .col .card .card-body .btn_download {
    border-radius: 55px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

.certification .row .col .card .card-body h5 {
    font-weight: 700;
}
@media screen and (max-width: 1300px) {
    .certification .row {
        width: 100%;
    }
}

.about .headlines {
    text-align: center;
}

.about .headlines hr {
    color: var(--color-primary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}

.about .headlines h6 {
    color: var(--color-primary);
    font-weight: 300;
}

.about .headlines h2 {
    font-weight: 800;
}

.about .float-layout {
    padding: 5px 5px;
    float: right;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
}

.about .card-container {
    overflow: hidden;
    width: 75%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border: none;
}

.about .card-container .card {
    background-color: var(--color-secondary);
    color: black;
    min-height: 100%; /*replace this it in width: 100%*/
    width: 100%;
    float: left;
    text-align: left;
    border: none;
}

.about .card-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.about .card-desc {
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

/*add this it*/
.about .card-image {
    display: flex;
}
/*-------------*/

.about .card-image img {
    width: 50%;
    height: auto;
    padding: 30px;
}

/* Phone Devices Query */
@media only screen and (max-width: 1200px) {
    .about .card-image img {
        width: 100%;
        height: auto;
    }

    /*add this it*/
    .about .card-image {
        flex-direction: column;
        width: 100%;
    }
    /*----------------------*/

    .about .card {
        width: 100%;
    }
}

.about .skill-bars {
    text-align: left;
}
.skill-bars .bar {
    margin: 20px 0;
}
.skill-bars .bar:first-child {
    margin-top: 0px;
}
.skill-bars .bar .info {
    margin-bottom: 5px;
}
.skill-bars .bar .info span {
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.skill-bars .bar .progress-line {
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.bar .progress-line span {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--color-primary);
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.webdev span {
    width: 75%;
}
.bar .progress-line.python span {
    width: 85%;
}
.bar .progress-line.csharp span {
    width: 80%;
}
.bar .progress-line.mobile span {
    width: 80%;
}
.bar .progress-line.c span {
    width: 50%;
}
.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

#contact .contact {
    background-color: var(--color-primary);
    height: auto;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact .container {
    background-color: var(--color-secondary);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 30px;
}

@media screen and (max-width: 900px) {
    .contact .container {
        width: 95%;
    }
}

.contact .container .toppart {
    margin-bottom: 20px;
}
.contact .container .toppart h2 {
    float: left;
    font-weight: 800;
    margin-left: 40px;
}
.contact .container .toppart hr {
    color: var(--color-primary);
    width: 60px;
    border-top: 4px solid;
    border-radius: 10px;
    float: left;
    text-align: left;
    position: absolute;
    margin-left: 40px;
}

.contact .container .toppart p {
    float: left;
    text-align: left;
    color: var(--text-color);
    margin-left: 40px;
    margin-bottom: 20px;
}
.icon-background {
    color: var(--color-primary);
}
.icon {
    color: var(--color-secondary);
}
.contact .content {
    text-align: left;
    margin-left: 40px;
}
.hireme .toppart {
    text-align: center;
}
.hireme .toppart h6 {
    color: var(--color-primary);
    font-weight: 300;
    text-align: center;
}
.hireme .toppart h2 {
    color: var(--font-color);
    font-weight: 800;
    text-align: center;
}

.hireme .toppart hr {
    color: var(--color-primary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.hireme .toppart p {
    text-align: center;
}
.hireme .toppart .btn_hire_me {
    background-color: var(--color-primary);
    margin-top: 20px;
    border-radius: 55px;
    color: var(--color-secondary);
    width: 200px;
    height: 40px;
    padding: 8px;
    -webkit-appearance: none;
}

.hireme .toppart .btn_hire_me:hover {
    color: var(--color-secondary);
    text-decoration: none;
}
footer {
    background-color: var(--footer-bg);
    width: 100%;
    color: var(--footer-text);
}
.footer h2 {
    color: var(--color-secondary);
}
.footer .container .row .about p {
    color: var(--footer-text);
}
.footer .links a {
    color: var(--footer-text);
}
.footer .links a:hover {
    color: var(--footer-text);
}
.footer .links {
    text-align: center;
}
.footer .links .navbar-nav {
    justify-content: right;
}
.footer .contact .contact-footer .fa {
    color: var(--color-secondary);
}
.footer .contact .py-4 .icons {
    margin-left: 4px;
}
.footer .contact .py-4 a {
    color: var(--footer-text);
    margin: 4px;
}
.footer .contact .py-4 a :hover {
    color: var(--color-primary);
}
.footer .contact .goup:hover .fa-angle-up {
    color: var(--color-secondary);
}

.footer .credit a {
    color: var(--footer-text);
    font-size: 8px;
}

.findme .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 150px;
    text-align: center;
}

.findme .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}

.findme .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}

.findme .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}

.githublink a {
    color: var(--color-primary);
    text-align: center;
}
.githublink a:hover {
    text-decoration: none;
}
.whatsapp .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 150px;
    text-align: center;
}

.whatsapp .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}

.whatsapp .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}

.whatsapp .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.whatsapp .row {
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.whatsapp .row .col .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.whatsapp .row .col .card {
    width: 95%;
    height: auto;
    border: none;
}

.carshop .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 150px;
    text-align: center;
}

.carshop .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}

.carshop .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}

.carshop .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}

.carshop .row {
    /* margin-left: 30px; */
    margin-bottom: 50px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}
.carshop .row .col .card {
    margin-top: 50px;
    display: inline-block;
    margin-bottom: 30px;
    width: 340px;
    height: 280px;
    border: none;
}
.carshop .row .col .card img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    top: 0;
    left: 0;
}

.website .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 150px;
    text-align: center;
}

.website .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}

.website .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}

.website .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.website .content {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.pingpong .toppart {
    background-color: var(--color-primary);
    width: 100%;
    height: 150px;
    text-align: center;
}

.pingpong .toppart h6 {
    padding-top: 50px;
    color: var(--color-secondary);
    font-weight: 300;
}

.pingpong .toppart h2 {
    color: var(--color-secondary);
    font-weight: 800;
}

.pingpong .toppart hr {
    color: var(--color-secondary);
    width: 60px;
    position: relative;
    border-top: 4px solid;
    border-radius: 10px;
}
.carousel {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}
.carousel-control-prev span {
    color: var(--font-color);
}
